'use_strict'

angular.module('app', ['ngRoute', 'ngResource', 'appStorage'])
	.config(['$routeProvider', function($routeProvider, $locationProvider) {
		$routeProvider
			.when('/', {controller: 'UserIndexController', templateUrl: '<%= asset_path('templates/index.html') %>'})
			.when('/login', {controller: 'UserLoginController', templateUrl: '<%= asset_path('templates/login.html') %>'})
			.when('/logout', {controller: 'UserLogoutController', templateUrl: '<%= asset_path('templates/login.html') %>'})
			.when('/my_questions', {controller: 'MyQuestionsController', templateUrl: '<%= asset_path('templates/my_questions.html') %>'})
			.when('/game/edit/:game_id', {controller: 'EditGameController', templateUrl: '<%= asset_path('templates/edit_game.html') %>'})
	}])
.directive('editGameSquare', function() {
	return {
		restrict: 'AE',
		scope: {
			category: '@',
			question: '@',
			price: '@',
			modal: '=',
			board: '='
		},
		template: '<div class="square-price" ng-click="modal.set_current(category,question)" ng-if="board.categories[category].questions[question]">${{price}}</div>'
	};
})
.factory('authInterceptor', function ($rootScope, $q, $window, $location, appStorage) {
	var storage = appStorage('Jeopardy');
	return {
		request: function (config) {
			config.headers = config.headers || {};
			if (storage.get('token')) {
				config.headers.Authorization = 'Bearer ' + storage.get('token');
			}
			return config;
		},
		response: function (response) {
			if (response.status === 401) {
				$location.path('/login');
			}
			return response || $q.when(response);
		}
	};
})
.config(function ($httpProvider) {
	$httpProvider.interceptors.push('authInterceptor');
})
.factory('Answer', function($resource) {
	var Answer;
	var service = $resource('/api/v1/answers/:id',
		{id: '@id'},
		{
			update: {method: 'PUT'},
			register: {method: 'POST', params: {register: true}}
		}
	);
	Answer = function(attrs) {
		this.service = service;
		this.attrs = attrs;
		for(var k in attrs) {
			this[k] = attrs[k];
		}
	}

	Answer.query = service.query;
	Answer.prototype.register = function(params, callback) {
		this.attrs.tags = this.attrs.tags_combined.split(",")
		for(var k in this.attrs.tags) {
			this.attrs.tags[k] = $.trim(this.attrs.tags[k]);
		}
		var obj = new this.service({id: this.id, answer: this.attrs});
		obj.$register(params, callback);
	}
	Answer.prototype.update = function(params, callback) {
		this.attrs.tags = this.attrs.tags_combined.split(",")
		for(var k in this.attrs.tags) {
			this.attrs.tags[k] = $.trim(this.attrs.tags[k]);
		}
		var obj = new this.service({id: this.id, answer: this.attrs});
		obj.$update(params, callback);
	}
	return Answer;
})
.factory('Vote', function($resource) {
	return $resource('/api/v1/votes/:id',
		{id: '@id'},
		{
			update: {method: 'PUT'},
			register: {method: 'POST'},
			by_user_and_votable: {method: 'GET', isArray: true, params: {user_id: '@user_id', votable_type: '@votable_type', votable_id: '@votable_id'}}
		}
	);
})
.controller('UserLogoutController', function($scope, $location, appStorage) {
	var storage = appStorage('Jeopardy');
	storage.set('user', null);
	storage.set('token', null);
	$location.path('/login');
})
.factory('Tag', function($resource) {
	var Tag;
	var service = $resource('/api/v1/tags');
	Tag = function(attrs) {
		this.service = service;
		this.attrs = attrs;
		for(var k in attrs) {
			this[k] = attrs[k];
		}
	}

	Tag.query = service.query;
	return Tag;
});