<div ng-include="'/assets/templates/top_nav.html'"></div>

<div class="row">
	<div class="large-12 columns panel">
		<h1 ng-if="game_id == 'new'">New Game</h1>
		<h1 ng-if="game_id != 'new'">Edit Board</h1>

		<input type="text" ng-model="game_board.name" placeholder="Name" />
		<div class="game-board edit table" ng-class="{'round_2': round == 'round_2'}">

			<div class="row category-select">
				<div class="small-2 columns" ng-click="edit_board_modal.set_current(1, round)">{{game_board[round].categories[1].title}}</div>
				<div class="small-2 columns" ng-click="edit_board_modal.set_current(2, round)">{{game_board[round].categories[2].title}}</div>
				<div class="small-2 columns" ng-click="edit_board_modal.set_current(3, round)">{{game_board[round].categories[3].title}}</div>
				<div class="small-2 columns" ng-click="edit_board_modal.set_current(4, round)">{{game_board[round].categories[4].title}}</div>
				<div class="small-2 columns" ng-click="edit_board_modal.set_current(5, round)">{{game_board[round].categories[5].title}}</div>
				<div class="small-2 columns" ng-click="edit_board_modal.set_current(6, round)">{{game_board[round].categories[6].title}}</div>
			</div>
			<div class="row">
				<div class="small-2 columns"><edit-game-square category="1" question="0" price="{{100*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="2" question="0" price="{{100*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="3" question="0" price="{{100*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="4" question="0" price="{{100*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="5" question="0" price="{{100*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="6" question="0" price="{{100*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
			</div>
			<div class="row">
				<div class="small-2 columns"><edit-game-square category="1" question="1" price="{{200*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="2" question="1" price="{{200*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="3" question="1" price="{{200*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="4" question="1" price="{{200*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="5" question="1" price="{{200*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="6" question="1" price="{{200*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
			</div>
			<div class="row">
				<div class="small-2 columns"><edit-game-square category="1" question="2" price="{{300*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="2" question="2" price="{{300*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="3" question="2" price="{{300*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="4" question="2" price="{{300*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="5" question="2" price="{{300*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="6" question="2" price="{{300*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
			</div>
			<div class="row">
				<div class="small-2 columns"><edit-game-square category="1" question="3" price="{{400*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="2" question="3" price="{{400*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="3" question="3" price="{{400*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="4" question="3" price="{{400*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="5" question="3" price="{{400*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="6" question="3" price="{{400*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
			</div>
			<div class="row last-row">
				<div class="small-2 columns"><edit-game-square category="1" question="4" price="{{500*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="2" question="4" price="{{500*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="3" question="4" price="{{500*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="4" question="4" price="{{500*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="5" question="4" price="{{500*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
				<div class="small-2 columns"><edit-game-square category="6" question="4" price="{{500*game_board[round].multiplier}}" modal="question_modal" board="game_board[round]"></edit-game-sqare></div>
			</div>
		</div>

		<div class="row">
			<div class="large-3 columns">
			<label>Jeopardy Round</label>
			</div>
		</div>

		<div class="row">
			<div class="large-3 columns small-12">
				<div class="jeopardy-round-switch">
					<input id="game_round" name="switch-game_round" type="radio" ng-model="round" value="round_2">
					<label for="game_round" onclick="">Double</label>

					<input id="game_round_2" name="switch-game_round" type="radio" ng-model="round" value="round_1" checked="checked">
					<label for="game_round_2" onclick="">Normal</label>

					<span></span>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 columns">
				<label>Final Jeopardy Category</label>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 columns">
				<button ng-click="edit_board_modal.set_current(1, 'round_3')" class="small right">Change</button>
				<h3>{{game_board.round_3.categories[1].title}}</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 columns">
				<label>Publicly Playable</label>
			</div>
		</div>

		<div class="row">
			<div class="small-12 large-3 columns">
				<div class="switch">
					<input id="public_playable_off" name="public_playable" value="false" type="radio" ng-model="game_board.public_playable">
					<label for="public_playable_off">Off</label>

					<input id="public_playable_on" name="public_playable" value="true" ng-model="game_board.public_playable" type="radio">
					<label for="public_playable_on">On</label>

					<span></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-6 small-12 columns large-offset-6 medium-offset-3">
				<button class="success right" ng-disabled="!complete"><i class="icon-checkmark"> </i>Play</button>
				<button ng-click="save()" ng-disabled="game_board.name==''" class="right"><i class="icon-page"> </i>Save</button>
			</div>
		</div>
	</div>
</div>

<div id="edit_board_modal" class="reveal-modal" ng-class="{open: edit_board_modal.category_id != 0}">
	<form id="edit_board" name="edit_board" novalidate>
		<label for="category_title">Title</label>
		<input type="text" id="category_title" ng-model="edit_board_modal.category.title" placeholder="Clever Title" />
		<label for="category_tags">Tags</label>
		<div id="game_tags">
			<ul>
				<li ng-repeat="tag in edit_board_modal.category.tags">{{tag}} <a href="javascript:;" ng-click="edit_board_modal.remove_tag(tag)">&#215;</a></li>
			</ul>
		</div>
		<input type="text" id="category_tags" ng-model="tag_input" placeholder="history" />
		<button ng-click="edit_board_modal.save()">Ok</button>
	</form>
	<a class="close-modal" ng-click="edit_board_modal.set_current(0)">&#215;</a>
</div>
<div ng-show="edit_board_modal.category_id != 0" class="reveal-modal-bg" ng-click="edit_board_modal.set_current(0)" ng-class="{open: edit_board_modal.category_id != 0}"></div>

<div id="question_modal" class="reveal-modal" ng-class="{open: question_modal.question.id != 0}">
	<h1>{{question_modal.question.question}}</h1>
	<a class="close-modal" ng-click="question_modal.unset()">&#215;</a>
</div>
<div ng-show="question_modal.question.id != 0" class="reveal-modal-bg" ng-click="question_modal.unset()" ng-class="{open: question_modal.question.id != 0}"></div>

<script type="text/javascript">

	var substringMatcher = function(strs) {
	  return function findMatches(q, cb) {
	    var matches, substringRegex;
	 
	    // an array that will be populated with substring matches
	    matches = [];
	 
	    // regex used to determine if a string contains the substring `q`
	    substrRegex = new RegExp(q, 'i');
	 
	    // iterate through the pool of strings and for any string that
	    // contains the substring `q`, add it to the `matches` array
	    $.each(strs, function(i, str) {
	      if (substrRegex.test(str)) {
	        // the typeahead jQuery plugin expects suggestions to a
	        // JavaScript object, refer to typeahead docs for more info
	        matches.push({ value: str });
	      }
	    });
	 
	    cb(matches);
	  };
	};

	$("#category_tags").typeahead(null, {
		name: 'Tags',
		displayKey: 'value',
		source: substringMatcher(tags)
	})
	.on('typeahead:selected', function(e, data) {
		select_tag(data.value);
	});
</script>