<div ng-include="'/assets/templates/top_nav.html'"></div>

<div class="row">
	<div class="large-12 columns panel">
		<h1>Welcome to Jeopardy</h1>
		<a href="#/game/edit/new" class="button expand">Start a Game!</a>
		<br />
		<h3>Submit an Answer</h3>
		<form name="answer_form" id="answer_form">
			<label>Question</label>
			<input type="text" ng-model="answer.question" placeholder="Question in the form of an answer ..." />

			<div class="row">
				<div class="large-4 columns">
					<label>Answer</label>
					<input type="text" ng-model="answer.answer" placeholder="Just the answer ..." />
				</div>
				<div class="large-4 columns">
					<label>Difficulty</label>
					<div class="row collapse">
						<select id="question_difficulty" ng-model="answer.difficulty" name="difficulty" ng-options="difficulty for difficulty in answer_difficulties">
						</select>
					</div>
				</div>
				<div class="large-4 columns">
					<label>Reference</label>
					<input type="text" ng-model="answer.reference" placeholder="A reference, preferably link, to the answer" />
				</div>
			</div>

			<div class="row">
				<div class="large-8 columns">
					<label>Categories</label>
					<input type="text" ng-model="answer.tags_combined" name="tags" placeholder="history, books, egypt" />
				</div>
				<div class="large-4 columns">
					<br />
					<input type="button" class="button success expand" ng-click="submit_answer()" value="Submit" />
				</div>
			</div>
		</form>
		<div class="validatable-answer" ng-show="num_validatable_answers">
			<h3>Validate Answers</h3>
			<table width="100%">
				<tbody>
					<tr ng-show="num_validatable_answers" ng-repeat="answer in validatable_answers">
						<td>{{answer.question}}</td>
						<td><a class="button tiny" ng-click="validate_answer_modal.set_current(answer.id)">Details</a></td>
					</tr>
					<tr ng-show="num_validatable_answers == 0">
						<td colspan="2">No Questions Available</td>
					</tr>
				</tbody>
			</table>
			<a class="button" ng-click="refresh_answers()">5 More ...</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).foundation().foundation('forms');
</script>

<div id="validate_answer_modal" class="reveal-modal validatable-answer" ng-class="{open: validate_answer_modal.answer_id != 0}">
	<div ng-show="!validate_answer_modal.answer.validation.validated">
		<h3 data-tooltip title="You can edit this when you get at least 100 reputation points">{{validate_answer_modal.answer.question}}</h3>
		<p data-tooltip title="You can edit this when you get at least 100 reputation points" class="lead">{{validate_answer_modal.answer.answer}}</p>
		<div class="row">
		  	<div class="large-4 columns">
		  		<label for="validate_answer_difficulty">Difficulty:</label>
		  		<select ng-model="validate_answer_modal.answer.difficulty" id="question_difficulty" name="difficulty" ng-options="difficulty for difficulty in answer_difficulties">
				</select>
			</div>
		  	<div class="large-4 columns">
		  		<label for="validate_answer_reference">Reference:</label> <p ng-if="validate_answer_modal.answer.reference.indexOf('http') != 0">{{validate_answer_modal.answer.reference}}</p>
		  		<p ng-if="validate_answer_modal.answer.reference.indexOf('http') == 0"><a href="{{validate_answer_modal.answer.reference}}" target="_blank">{{validate_answer_modal.answer.reference}}</a></p>
		  	</div>
		  	<div class="large-3 small-12 columns">
		  		<ul class="button-group even-2">
			  		<li><a ng-click="validate_answer_modal.answer.set_validation(true)" class="button small secondary"><i class="social-icon-thumb-up answer-right"></i></a></li>
			  		<li><a ng-click="validate_answer_modal.answer.set_validation(false)" class="button small secondary"><i class="social-icon-thumb-down answer-wrong"></i></a></li>
			  	</ul>
		  	</div>
		</div>

		<a class="close-modal" ng-click="validate_answer_modal.set_current(0)">&#215;</a>
	</div>
	<div ng-show="validate_answer_modal.answer.validation.validated && !validate_answer_modal.answer.validation.confirmed && !validate_answer_modal.answer.validation.valid">
		<h1>Uh oh ...</h1>

		<div class="row" ng-if="validate_answer_modal.answer.invalid_validations.length">
			<div class="large-12 columns">
				<h3>Is one of these the problem...</h3>
			</div>
			<div class="large-12 columns">
				<div ng-if="validate_answer_modal.answer.downvotes > 0">
					<table width="100%">
						<tr ng-repeat="validation in validate_answer_modal.answer.invalid_validations">
							<td><strong>{{validation.display_reason}}</strong></td>
							<td data-tooltip title="{{validation.reference}}" ng-if="validation.reference.indexOf('http') == -1">Correct Answer: {{validation.correct_answer}}</td>
							<td data-tooltip title="{{validation.reference}}" ng-if="validation.reference.indexOf('http') == 0">Correct Answer: <a href="{{validation.reference}}" target="_blank">{{validation.correct_answer}}</a></td>
							<td><a ng-click="validation.upvote()"><i ng-class="{voted: validation.user_upvoted}" class="social-icon-thumb-up upvote"></i></a> {{validation.num_upvotes}}</td>
							<td><a ng-click="validation.downvote()"><i ng-class="{voted: validation.user_downvoted}" class="social-icon-thumb-down downvote"></i></a> {{validation.num_downvotes}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns" ng-if="validate_answer_modal.answer.invalid_validations.length">
				<h3>...or is it something else?</h3>
			</div>
			<div class="large-6 small-12 columns">
				<label for="validate_answer_reason">What's wrong here?</label>
				<select id="validate_answer_reason" ng-model="validate_answer_modal.answer.validation.reason">
					<option value="incorrect_answer">Incorrect answer</option>
					<option value="malformed_question">Badly formed question</option>
					<option value="unintelligable">Unreadable question</option>
					<option value="opinion">Opinion</option>
					<option value="inappropriate">Inappropriate</option>
					<option value="bad_reference">Incorrect or inappropriate reference</option>
					<option value="bad_tags">Miscategorized</option>
				</select>
			</div>
			<div class="large-6 small-12 columns">
				<div ng-show="validate_answer_modal.answer.validation.reason=='incorrect_answer'">
					<label for="validate_answer_correct_answer">Correct Answer:</label>
					<input type="text" ng-model="validate_answer_modal.answer.validation.correct_answer" />
					<label for="validate_answer_reference">Reference:</label>
					<input type="text" ng-model="validate_answer_modal.answer.validation.reference" />
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="small-12 columns">
				<p>
					<a ng-click="validate_answer_modal.answer.unset_validation()" class="button right secondary">Cancel</a>
					<a ng-click="validate_answer_modal.answer.confirm_invalid()" class="button">Done</a>
				</p>
			</div>
		</div>
	</div>
	<div ng-show="validate_answer_modal.answer.validation.confirmed">
		<h1>Thanks!</h1>
		<p>You've earned yourself 5 more reputation points. Keep validating answers to get more!</p>
		<a ng-show="num_validatable_answers>1" ng-click="validate_answer_modal.validate_next_answer()" class="button success">Give me Another!</a>
		<a ng-click="validate_answer_modal.confirm_validation()" class="button">Done</a>
		<a class="close-modal" ng-click="validate_answer_modal.confirm_validation()">&#215;</a>
	</div>
</div>
<div ng-show="!validate_answer_modal.answer.validation.validated" class="reveal-modal-bg" ng-click="validate_answer_modal.set_current(0)" ng-class="{open: validate_answer_modal.answer_id != 0}"></div>
<div ng-show="validate_answer_modal.answer.validation.validated" class="reveal-modal-bg" ng-click="validate_answer_modal.confirm_validation()" ng-class="{open: validate_answer_modal.answer_id != 0}"></div>