<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a ng-href="/" target="_self">Jeopardy!</a></h1>
    </li>
  </ul>
</nav>

<div class="row">
	<div class="large-8 large-offset-4 columns panel">
		<form name="register" novalidate>
			<h3>Register Now</h3>
			<div class="row">
				<div class="large-6 columns">
					<b>Username:</b>
					<small class="form_error right" ng-show="register.username.$dirty && register.username.$invalid && register.username.$error.required">Username required</small>
					<small class="form_error right" ng-show="register.username.$dirty && register.username.$invalid && register.username.$error.unique">Username already taken!</small>
				</div>
				<div class="large-6 columns"><input type="text" name="username" ng-model="user.username" required/></div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<b>First Name:</b>
					<small class="form_error right" ng-show="register.first_name.$dirty && register.first_name.$invalid && register.first_name.$error.required">First name required</small>
				</div>
				<div class="large-6 columns"><input type="text" name="first_name" ng-model="user.first_name" required/></div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<b>Last Name:</b>
					<small class="form_error right" ng-show="register.last_name.$dirty && register.last_name.$invalid && register.last_name.$error.required">Last name required</small>
				</div>
				<div class="large-6 columns"><input type="text" name="last_name" ng-model="user.last_name" required/></div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<b>Email:</b>
					<small class="form_error right" ng-show="register.email.$dirty && register.email.$invalid && register.email.$error.unique">Email address already being used</small>
					<small class="form_error right" ng-show="register.email.$dirty && register.email.$invalid && !register.email.$error.unique">Valid Email required</small>
				</div>
				<div class="large-6 columns"><input type="text" name="email" ng-model="user.email" required/></div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<b>Password:</b>
					<small class="form_error right" ng-show="register.password.$dirty && register.password.$invalid && register.password.$error.required">Password required</small>
					<small class="form_error right" ng-show="register.password.$dirty && register.password.$invalid && register.password.$error.pwd">Password must be at least 6 characters</small>
				</div>
				<div class="large-6 columns"><input type="password" id="password" name="password" ng-model="user.password" password-validate required /></div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<b>Repeat Password:</b>
					<small class="form_error right" ng-show="register.password_confirmation.$dirty && register.password_confirmation.$invalid && register.password_confirmation.$error.pwd_repeat">Passwords do not match</small>
				</div>
				<div class="large-6 columns"><input type="password" id="password_confirmation" name="password_confirmation" ng-model="user.password_confirmation" password-repeat required /></div>
			</div>
			<div class="large-6 large-offset-6 columns">
				<button ng-click="registerUser()" ng-disabled="register_attempted == false && register.$invalid || isUnchanged(user) || form.password != form.password_confirmation" class="button">Register</button>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="large-8 large-offset-4 columns panel">
		<form name="login" novalidate>
			<h3>Login</h3>
			<div class="row">
				<div class="large-6 columns"><b>Username:</b></div>
				<div class="large-6 columns"><input ng-model="login_user.username" type="text" name="username" required/></div>
			</div>
			<div class="row">
				<div class="large-6 columns"><b>Password:</b></div>
				<div class="large-6 columns"><input ng-model="login_user.password" type="password" name="password" required/></div>
			</div>
			<div class="large-6 large-offset-6 columns">
				<input type="submit" name="Login" class="button secondary" ng-click="authenticate()" />
			</div>
		</form>
	</div>
</div>