<div ng-include="'/assets/templates/top_nav.html'"></div>

<div class="row">
	<div class="large-12 columns panel">
		<h1>My Questions</h1>

		<div ng-if="num_invalid_answers > 0">
			<h3>Questions that need some work</h3>
			<table width="100%">
				<tbody>
					<tr ng-repeat="answer in invalid_answers">
						<td>{{answer.question}}</td>
						<td><i class="social-icon-thumb-down answer-wrong"></i> {{answer.downvotes}} Downvotes</td>
						<td><a ng-click="edit_answer_modal.set_current(answer.id)" class="button tiny">Edit</a></td>
					</tr>
					<tr ng-show="num_answers == 0">
						<td colspan="2">No Questions Available</td>
					</tr>
				</tbody>
			</table>
		</div>


		<h3>Recent</h3>
		<table width="100%">
			<tbody>
				<tr ng-repeat="answer in answers">
					<td>{{answer.question}}</td>
					<td><i class="social-icon-thumb-up answer-right"></i> {{answer.upvotes}}</td>
					<td><i class="social-icon-thumb-down answer-wrong"></i> {{answer.downvotes}}</td>
					<td><a ng-click="edit_answer_modal.set_current(answer.id)" class="button tiny">Edit</a></td>
				</tr>
				<tr ng-show="num_answers == 0">
					<td colspan="2">No Questions Available</td>
				</tr>
			</tbody>
		</table>


	</div>
</div>



<div id="edit_answer_modal" class="reveal-modal validatable-answer" ng-class="{open: edit_answer_modal.answer_id != 0}">
	<form name="answer_form" id="answer_form">
		<h3>Edit Answer</h3>
		<div class="alert-box success" ng-class="{hidden: !edit_answer_modal.save_success}">Answer Saved</div>
		<label>Question</label>
		<input type="text" ng-model="edit_answer_modal.answer.question" placeholder="Question in the form of an answer ..." />

		<div class="row">
			<div class="large-4 columns">
				<label>Answer</label>
				<input type="text" ng-model="edit_answer_modal.answer.answer" placeholder="Just the answer ..." />
			</div>
			<div class="large-4 columns">
				<label>Difficulty</label>
				<div class="row collapse">
					<select id="question_difficulty" ng-model="edit_answer_modal.answer.difficulty" name="difficulty">
						<option value="1">1 (Easy)</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5" selected="selected">5 (Average)</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10 (Hard)</option>
					</select>
				</div>
			</div>
			<div class="large-4 columns">
				<label>Reference</label>
				<input type="text" ng-model="edit_answer_modal.answer.reference" placeholder="A reference, preferably link, to the answer" />
			</div>
		</div>

		<div class="row">
			<div class="large-8 columns">
				<label>Categories</label>
				<input type="text" ng-model="edit_answer_modal.answer.tags_combined" name="tags" placeholder="history, books, egypt" />
			</div>
			<div class="large-4 columns">
				<br />
				<input type="button" class="button success expand" ng-click="edit_answer_modal.submit_answer()" value="Submit" />
			</div>
		</div>
	</form>

	<div ng-if="edit_answer_modal.answer.downvotes > 0">
		<h3>Downvotes</h3>
		<table width="100%">
			<tr ng-repeat="validation in edit_answer_modal.answer.invalid_validations">
				<td><strong>{{validation.display_reason}}</strong></td>
				<td data-tooltip title="{{validation.reference}}" ng-if="validation.reference.indexOf('http') == -1">Correct Answer: {{validation.correct_answer}}</td>
				<td data-tooltip title="{{validation.reference}}" ng-if="validation.reference.indexOf('http') == 0">Correct Answer: <a href="{{validation.reference}}" target="_blank">{{validation.correct_answer}}</a></td>
				<td><i class="social-icon-thumb-up answer-right"></i> {{validation.num_upvotes}}</td>
				<td><i class="social-icon-thumb-down answer-wrong"></i> {{validation.num_downvotes}}</td>
			</tr>
		</table>
	</div>
	<a class="close-modal" ng-click="edit_answer_modal.set_current(0)">&#215;</a>
</div>
<div class="reveal-modal-bg" ng-click="edit_answer_modal.set_current(0)" ng-class="{open: edit_answer_modal.answer_id != 0, closed: edit_answer_modal.answer_id == 0}"></div>