<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a ng-href="#/" target="_self">Jeopardy!</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
	  <ul class="right">
	    <li class="has-dropdown"><a href="#" onclick="return false;">{{user.first_name}} {{user.last_name}}</a>
	    	<ul class="dropdown">
	    		<li><a href="#/my_questions" >My Questions</a></li>
	    		<li><a href="#/logout">Logout</a></li>
	    	</ul>
	    </li>
	  </ul>
	</section>
</nav>