@import 'foundation';

$board-color: #4A62FF;

body {
	background: url('/assets/trebek.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.validatable-answer [class*="icon-"] {
	font-size: $h3-font-size;
}

i.answer-right {
	color: $success-color;
}

i.answer-wrong {
	color: $alert-color;
}

.validatable-answer .answer-right {
	color: $success-color;
}

.validatable-answer .answer-right:hover {
	color: lighten($success-color, 15%);
}

.validatable-answer .answer-wrong {
	color: $alert-color;
}

.validatable-answer .answer-wrong:hover {
	color: lighten($alert-color, 15%);
}

i.upvote, i.downvote {
	color: #999;
}

i.upvote.voted, i.upvote:hover {
	color: $success-color;
}

i.downvote.voted, i.downvote:hover {
	color: $alert-color;
}

.reveal-modal-bg {
	display: block;
	visibility: hidden;
	opacity: 0.0;
	transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}

.reveal-modal {
	display: block;
	visibility: hidden;
	position: fixed;
	left: 50%;
	z-index: 99;
	height: auto;
	background-color: #fff;
	margin-left: -40%;
	width: 80%;
	background-color: white;
	padding: 1.25em;
	border: solid 1px #666666;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	top: 50px;
	opacity: 0.0;
	transition: all 0.25s;
	-o-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

.reveal-modal.open {
	visibility: visible;
	opacity: 1;
	top: 100px;
}

.reveal-modal-bg.open {
	visibility: visible;
	opacity: 1;
}


.close-modal {
font-size: 1.375em;
line-height: 1;
position: absolute;
top: 0.5em;
right: 0.6875em;
color: #aaaaaa;
font-weight: bold;
cursor: pointer;
}

.alert-box {
	transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}

.alert-box.hidden {
	padding: 0;
	margin: 0;
	height: 0px;
	opacity: 0.0;
}

div.row.category-select {
	margin: 0;

	div.columns {
		margin: 0;
		padding: 0;
		background-color: $board-color;
		color: white;
		height: 80px;
		line-height: 80px;
	}
}

ul.category-select a {
	margin-bottom: 0;
}

div.game-board div.columns {
	height: 100px;
	text-align: center;
}

span.twitter-typeahead {
	width: 100%;

	span.tt-dropdown-menu {
		min-width: 300px;display: block;
		background-color: #fff;
		background-color: white;
		border: solid 1px #666666;
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	}

	div.tt-suggestion {
		height: 24px;
		line-height: 24px;
		vertical-align: middle;
		padding-left: 1em;
	}

	div.tt-suggestion.tt-cursor {
		background-color: #aaa;
	}
}

#game_tags {
	height: 35px;
	line-height: 35px;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			background-color: #DDD;
			padding: 2px 5px;
			margin-right: 5px;
		}
	}
}

div.game-board.edit {
	background-color: $board-color;
	margin-bottom: 1em;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	i.icon-checkmark {
		color: $success-color;
	}

	div.row {
		margin: 0;
		div.columns {

			margin: 0;
			padding: 0;
			height: 79px;
			border-bottom: 1px solid white;
			border-right: 1px solid white;

			div.square-price {
				height: 78px;
				line-height: 79px;
				width:100%;
				font-size: 4em;
				background-color: $board-color;
				color: darken(gold, 10%);
			}

			div.square-price:hover {
				background-color: lighten($board-color, 10%);
			}
		}

		div.columns:hover {
			background-color: lighten($board-color, 10%);
		}
	}
}

div.game-board.edit.round_2 {
	div.last-row {
		div.columns {
			div.square-price {
				font-size: 3em;
			}
		}
	}
}

 $double-jeopardy-color: lighten($alert-color, 50%);

 .jeopardy-round-switch {
	@include switch-base($switch-paddle-transition-speed, $switch-paddle-transition-ease);
	@include switch-size($switch-height-med, $switch-font-size-med, 2.3em);
	@include switch-style($switch-paddle-bg, $switch-positive-color, $double-jeopardy-color, false, true);
 }