// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input.ng-dirty.ng-invalid {
	background-color: #FF9090;
}

input.ng-dirty.ng-valid {
	background-color: #85FF85;
}

.form_error {
	color: red;
	margin-top: 0px;
	margin-bottom: 0.5em;
	vertical-align: middle;
}